<?xml version="1.0"?>
<robot>
  <property name="degrees_45" value="0.785398163"/>
  <property name="degrees_90" value="1.57079633"/>
  <property name="chassis_length" value="0.258"/>
  <property name="chassis_width" value="0.25"/>
  <property name="chassis_height" value="0.01"/>
  <property name="chassis_mass" value="2.788"/>
  <property name="hub_dia" value="0.09652"/>

  <property name="front_tire_dia" value="0.2"/>
  <property name="front_tire_width" value="0.02"/>
  <property name="rear_tire_dia" value="0.1"/>
  <property name="rear_tire_width" value="0.02"/>

  <property name="hex_hub_depth" value="0.01445"/>
  <property name="wheel_mass" value="1.00"/>
  <property name="wheelbase" value="0.335"/>
  <property name="hex_hub_dist" value="0.365"/>
  <property name="axle_length" value="0.03"/>
  <property name="wheel_travel" value="0.084"/>
  <property name="shock_z_offset" value="0.0655"/>
  <property name="shock_eff_limit" value="12.5106"/>
  <property name="shock_vel_limit" value="1000"/>
  <property name="axle_eff_limit" value="5.12766"/>
  <property name="axle_vel_limit" value="244.8696"/>
  <property name="servo_stall_torque" value="0.5649"/>
  <property name="servo_no_load_speed" value="4.553"/>
</robot>
